APP_NAME=telecom-notification-service
ENVIRONMENT=local
API_PREFIX=/api/v1

POSTGRES_DB=telecom_notifications
POSTGRES_USER=telecom_user
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+asyncpg://telecom_user:change_me@localhost:5432/telecom_notifications

RABBITMQ_DEFAULT_USER=telecom_user
RABBITMQ_DEFAULT_PASS=change_me
